/*цвет заголовков rgba(33, 33, 33, 1)*/
/*цвет текста основного контента rgba(117, 117, 117, 1)*/
/*акцент rgba(33, 150, 243, 1)*/
/*белый rgba(255, 255, 255, 1)*/

:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --white: rgba(255, 255, 255, 1);
  --button-background-color: rgba(245, 244, 250, 1);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}
li {
  list-style: none;
}
/*Лого*/
a > .accent {
  color: var(--accent-color);
}
.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/*Навигация + контакты*/
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}
.contacts-link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}
.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/*Герой*/
.hero-title {
  color: var(--white);
  background-color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/*Особенности*/
.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Заголовки секций */
.projects-section-title,
.team-section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/*Чем мы занимаемся*/

/* Наша команда */
.team-members-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-members-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* Адрес в футере */
address {
  color: var(--white);
  background-color: var(--accent-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Фильтры в Портфолио */
.filter-list .btn {
  background-color: var(--button-background-color);
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;

  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.filter-list .btn:hover,
.filter-list .btn:focus {
  background-color: var(--accent-color);
  color: var(--white);
}
/* Портфолио работы */
.porfolio-list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list-link {
  text-decoration: none;
}
.porfolio-list-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
